<!-- templates/404.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>404 Not Found</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
      /* Center the page */
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      /* Style the message */
  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #007bff;
    text-align: center;
  }
</style>
  </head>
  <body>
    <h1>404 Not Found</h1>
  </body>
</html>